/********** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


/* Configurations du Header avec la Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    height: 20px;
}

.navbar__links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 80px;
}

.navbar__link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35px;
    margin-left: 70px;
}

.navbar__link:hover {
    border-top: solid 2px #0065FC;
    color: #0065FC;
}


/* Configurations du Body */
body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/* Section Recherche */
.recherche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.titres h3 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.formulaire {
    display: flex;
    border-radius: 20px;
    height: 50px;
    width: 26em;
    margin-bottom: 30px;
}

.icone-position {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 25% 0% 0% 25% / 25% 0% 0% 25% ;
    width: 13%;
}

.icone-position i {
    color: black;
    font-size: 20px;
}

form {
    width: 50%;
    border-bottom:#F2F2F2 solid 1px;
    border-top:#F2F2F2 solid 1px;
}

input {
    border: none;
}

input {
    width: 97%;
    height: 96%;
}

::placeholder {
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.rechercher input {
    border-radius: 0% 15% 15% 0% / 0% 35% 35% 0% ;
    width: 117%;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #0065FC;
}

.filtres {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filtres h3 {
    height: 50px;
}

.filtres p {
    font-size: 18px;
    font-weight: bold;
}

.economique {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    height: 50px;
    width: 12em;
    margin-bottom: 30px;
}

.icone-eco {
    font-size: 20px;
}

.familial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    height: 50px;
    width: 9em;
    margin-bottom: 30px;
}

.icone-familial {
    font-size: 20px;
}

.romantique {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    height: 50px;
    width: 11em;
    margin-bottom: 30px;
}

.icone-romantique {
    font-size: 20px;
}

.pepite {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    height: 50px;
    width: 11em;
    margin-bottom: 30px;
}

.economique:hover,
.familial:hover,
.romantique:hover,
.pepite:hover {
    background-color: #DEEBFF;
}

.icone-pepite {
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.icone-info {
    border: 1px solid #D9D9D9;
    padding: 5px 12px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    margin-right: 10px;
}


/* Hebergements And Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section,
.activites section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/* Hebergements */
.hebergements {
    width: 65%;
}


/* Populaires */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Section Activites */
.activites {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 1000px;
}

.cadres-activites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: ;
    border: rgb(73, 0, 245) 1px solid;
    height: 400px;
    margin-top: 30px;
}

.cadre-activite-1 {
    display: flex;
    height: 400px;
    width: 23%;
    border: green 1px solid;
    border-radius: 10px;
}

.cadre-activite-2 {
    display: flex;
    height: 400px;
    width: 23%;
    border: green 1px solid;
    border-radius: 10px;
}
.cadre-activite-3 {
    display: flex;
    height: 400px;
    width: 23%;
    border: green 1px solid;
    border-radius: 10px;
}
.cadre-activite-4 {
    display: flex;
    height: 400px;
    width: 23%;
    border: green 1px solid;
    border-radius: 10px;
}

.activites section {
    background-color: white;
}


/********** Media queries **********/


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }


    .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

/* Margins et Paddings */
    main {
        padding: 20px;
    }

    .main-container {
        padding: 0px;
    }

/* Header Logo et Navbar */
    .navbar {
        flex-direction: column;
    }

    .navbar__logo {
        padding: 30px;
    }
    
    .navbar__links {
        justify-content: space-around;
        align-items: center;
        height: 40px;
        width: 100%;
    }
    
    .navbar__link {
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        margin-left: 0px;
    }
    
    .navbar__link:hover {
        border-top: none;
        border-bottom: solid 2px #0065FC;
    }
  
}